# Private key of the wallet that deploys the contract
# NEVER commit the real key — this is just the example

# Secondary Keplr
DEPLOYER_PRIVATE_KEY=c33abca7bc97c3fdf3f0d2fe09b4485a943f2f9390438ce47396d63edc3e5950
PLATFORM_WALLET=0xbDB7d481f4090FE80d95AE027EC5296cD08BAdb2

# RPC URLs
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/gxx
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/gxx
ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/gxx
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/gxx

# Block explorer API keys (for contract verification)
ETHERSCAN_API_KEY=PY67H2KFSFMH29VNFR1MG6XYPKSIDT9FWH
BASESCAN_API_KEY=PY67H2KFSFMH29VNFR1MG6XYPKSIDT9FWH

# USDC contract addresses
USDC_MAINNET=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
USDC_BASE=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913

# Report gas usage in tests
REPORT_GAS=false
COINMARKETCAP_API_KEY=c08d4e3b57b3450381a2aa70a9db8c1a
